{
  box-sizing: border-box;
}
body {
  margin: 0;
}
.gjs-row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.gjs-cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#Frozen\ Downstacking{
  height:176px;
  display:flex;
}
#i70s{
  padding:10px;
}
#i6ja4{
  padding:10px;
}
@media (max-width: 768px){
  .gjs-row{
    flex-wrap:wrap;
  }
}
@media (max-width: 480px){
  #i70s{
    text-align:center;
    text-decoration:underline;
    text-shadow:-1px 1px 17px black;
  }
  #i77xm{
    text-align:left;
  }
  #Frozen\ DOwnstacking{
    border:8px solid #9c9c9c;
    flex-direction:row;
    border-radius:14px 14px 14px 14px;
    color:#dcd3d3;
  }
  #ict9{
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:linear-gradient(#2d2b2b 0%, #2d2b2b 100%);
  }
  #i6ja4{
    font-size:12px;
    line-height:15px;
  }
}
